@charset "ISO-8859-1";
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #4f4f6b;
}
h1{
    text-align: center;
    color:#8eafd1;
}

 .headsections{
    width: auto;
    height : 100%;
    font-size: larger;
}


header {
    background-color: #a87b7c;
    color: rgba(174, 151, 151, 0.69);
    padding: 1rem;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1rem;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

#innovative-thoughts textarea{
    width :90%;
}


#technical-forum textarea{
    width : 90%;
}

section {
    margin: 2rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #55a078;
}

textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #917a44;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* Footer */
footer {
    background-color: #6C6FBF;
    color: white;
    text-align: center;
    padding: 5px 0;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 40px;
}
