@charset "ISO-8859-1";

body {
    font-family: Arial, sans-serif;
    background: #4f4f6b;
    margin: 20px;
    padding: 20px;
}

h1 {
    color: white;
}

section {
    margin: 2rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.property {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 10px;
}

.property img {
    width: 150px;
    height: 100px;
    margin-right: 10px;
}

.property-details {
    display: flex;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}