body {
    font-family: 'Poppins', sans-serif;
    background: #4f4f6b;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 60px;
}

/* Square Card */
.form-box {
    background: white;
    width: 380px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
    text-align: center;
}

/* Heading */
h2 {
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}

/* Inputs */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
}

/* Focus */
input:focus {
    border-color: #4CAF50;
    outline: none;
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background: #1e73d8;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #155bb5;
}