@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    background: #4f4f6b;
    margin: 40px;
    padding: 0;
    line-height: 1.6;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

section {
    margin: 2rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}    

.property-container {
    max-width: 800px;
    margin: 0 auto;
}

.property-img {
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 20px 0;
    border-radius: 5px;
}

.property-details {
    font-size: 18px;
}

.property-details strong {
    font-weight: bold;
}

.back-link {
    display: block;
    margin-top: 20px;
    font-size: 16px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.back-link:hover {
    text-decoration: underline;
}